.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 500px));
  justify-content: center;
}

.home-profile-paper {
  display: grid;
  grid-template-columns: 1fr min-content minmax(min-content, max-content) 1fr;
  grid-template-rows: 1fr minmax(min-content, 20%) max-content 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 5vh 5vw;
  max-width: 500px;
  min-width: min-content;
  background-color: var(--paper-background);
  border-radius: 1rem;
}

.profile-picture {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  align-self: center;
  max-width: 30vmin;
  max-height: 30vmin;
  min-height: 100px;
  min-width: 100px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  justify-content: center;
  border: 0.2rem solid var(--highlight-color);
}

.home-info {
  grid-area: 2 / 3 / 3 / 4;
  justify-self: start;
  align-self: center;
}

.home-info h1 {
  color: var(--highlight-color);
}

.home-info p {
  font-weight: 500;
}

.home-bio {
  grid-area: 3 / 1 / 4 / -1;
  margin: auto;
  text-align: justify;
}
