.blog {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  &__details-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    width: 100%;
  }
  &__author-avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
  &__author-url {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: inherit;
    font-size: 1.01em;
    &:hover,
    &:focus {
      color: var(--highlightColor);
      text-decoration: none;
    }
  }
  &__extra {
    opacity: 0.85;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}
