@import "layout.scss";

.blog-card {
  background-color: var(--paperBackground);
  border-radius: 1em;
  margin: 1em auto;
  padding: 1.5em;
  min-width: 280px;
  box-shadow: 0 6px 6px -6px black;
  max-width: 75em;
}
