.drawer {
  .MuiDrawer-paper {
    background-color: var(--paperBackground);
    color: var(--primaryColor);
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    a {
      color: var(--primaryColor);
      text-decoration: none;
    }
  }
  &__item {
    padding: 1em 10em 1em 1em;
    &:hover {
      background-color: var(--highlightColor);
      color: var(--backgroundColor);
      cursor: pointer;
    }
  }
  &__logo {
    max-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 1em;
    img {
      width: 30vw;
      height: 100%;
    }
  }
}

.hamburger-menu {
  display: none;
  padding-right: 0.5em;
  user-select: none;
  &__bar {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: var(--primaryColor);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
  }
  &:hover {
    cursor: pointer;
    .hamburger-menu__bar {
      background-color: var(--highlightColor);
    }
  }
}
