@import "vars.scss";

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em;
}

.home-profile-paper {
  flex: 1;
  display: grid;
  grid-template-columns: minmax(min-content, 100%);
  grid-template-rows: minmax(min-content, 20%) 1fr;
  grid-gap: 1em;
  max-width: $maxWidth;
}

.home-info-area {
  grid-area: 1 / 1 / 2 / -1;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-picture {
  min-width: 200px;
  width: 100%;
  max-width: 20vmin;
  border-radius: 50%;
  justify-content: center;
  border: 0.2em solid $highlightColor;
  user-select: none;
  transition-property: border-width;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.profile-picture:hover {
  border-width: 0.4em;
}

.home-info {
  justify-self: start;
  align-self: center;
  padding: 0 1em;
  margin: auto;
  h1 {
    text-align: center;
  }
  p {
    font-weight: 500;
    text-align: center;
  }
}

.home-bio {
  grid-area: 2 / 1 / 3 / -1;
  text-align: justify;
}

.social-links {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  a {
    margin: 0 0.5em;
  }
  img {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    border-radius: 50%;
    user-select: none;

    &:hover {
      background-color: $highlightColor;
    }
  }
}

.brief {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: space-between;
  .card {
    flex: 1;
  }

  p {
    text-align: justify;
  }

  li {
    padding: 0.5em 0;
  }

  &__list {
    list-style: none;
    li {
      font-weight: $medium;
      color: $highlightColor;
    }

    li + li {
      padding-bottom: 1em;
    }

    p {
      padding: 0.2em 1em;
    }
  }
  .stack {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -0.5em;
    &__li {
      flex: 1;
      padding: 0.5em;
      ul {
        list-style: none;
        li {
          padding: 0.3em 0;
        }
      }
    }
  }
}

.multi-column-projects {
  display: flex;
  flex-wrap: wrap;
  &__project {
    flex: 1;
  }
}
