@import "vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--highlightColor);
  color: var(--backgroundColor);
}

a {
  color: var(--highlightColor);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.45em;
}

body {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  font-family: "Montserrat", sans-serif;
}

.highlight {
  box-sizing: border-box;
  background: var(--highlightColor);
  display: inline;
  font-weight: $medium;
  padding: 0.2em 0.2em;
  color: var(--backgroundColor);
  border-radius: 4px;
}

.repeating-background-text {
  position: fixed;
  font-size: 15vmin;
  width: 500vw;
  height: 500vh;
  margin-top: -100vh;
  margin-left: -150vw;
  margin-right: -150vw;
  transform: rotate(-45deg);
  color: var(--highlightColor);
  text-transform: uppercase;
  text-align: justify;
  z-index: -1;
  user-select: none;
  opacity: 0.4;
}

.card {
  background-color: var(--paperBackground);
  border-radius: 1em;
  margin: 0.5em;
  padding: 1.5em;
  min-width: 300px;
  box-shadow: 0 6px 6px -6px black;
}

.button {
  border: 0;
  width: max-content;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  background-color: var(--highlightColor);
  color: var(--backgroundColor);
  font-size: 1.1em;
  font-weight: $medium;
  border-radius: 4px;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  &:hover {
    background-color: var(--hover);
    color: var(--highlightColor);
    text-decoration: none;
    cursor: pointer;
  }
}

.button--outline {
  border: 0;
  width: max-content;
  padding: 1em;
  background-color: var(--highlightColor);
  color: var(--backgroundColor);
  font-size: 1.1em;
  font-weight: $medium;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  &:hover {
    background-color: var(--backgroundColor);
    color: var(--highlightColor);
    text-decoration: none;
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--highlightColor);
}

h4 {
  text-transform: uppercase;
  padding-bottom: 0.2em;
}
