@import "drawer.scss";

.navbar {
  display: flex;
  width: 100%;
  height: 3.5em;
  padding: 0.5em 0;
  align-items: center;
  background-color: var(--paperBackground);
  z-index: 99;
  box-shadow: 0 5px 6px -6px black;
  position: sticky;
  top: 0;
  bottom: auto;
  transition: top 250ms ease-out, background-color 250ms ease-out,
    color 250ms ease-out;
  &__container {
    max-width: var(--max-width);
    display: flex;
    flex: 1;
    margin: 0 auto;
    height: 100%;
    padding: 0 1rem;
  }
  &__switch-container {
    margin-left: auto;
  }
  &--hidden {
    top: -56px;
  }
}

.navlinks {
  font-weight: 500;
  font-family: var(--code-font);
  list-style: none;
  display: flex;
  align-items: center;
  user-select: none;
  width: 100%;

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    padding: 1em 0.5em;
    color: var(--primaryColor);
    svg {
      fill: var(--primaryColor);
    }
    &--highlighted {
      color: var(--highlightColor);
      svg {
        fill: var(--backgroundColor);
      }
      text-decoration: underline;
      font-weight: bold;
    }
    &-icon {
      display: none;
    }
  }
}

@media (pointer: none), (pointer: coarse) {
  .navbar {
    position: fixed;
    bottom: 0;
    top: auto;
    padding: 0;
    &__container {
      padding: 0;
    }
  }
  .navlinks {
    height: 100%;
    &__link {
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      padding: 0.5em 1em;
    }
  }
}
