@import "vars.scss";

.project-icon {
  display: grid;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &__img {
    grid-area: 1 / 1 / 2 / 2;
    transition: opacity 400ms ease-out;
  }
  &__text {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto;
    opacity: 0;
    transition: opacity 400ms ease-out;
  }

  &:hover {
    .project-icon__text {
      z-index: 1;
      opacity: 1;
    }
    .project-icon__img {
      opacity: 0.5;
    }
  }
}
