h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.7em;
}
