.portfolio {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 100%;

  &__desc {
    flex: 4;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    min-width: 25ch;
    p {
      text-align: justify;
      padding: 0.5em 0;
    }
  }

  &__logo {
    flex: 1;
    display: grid;
    min-width: 200px;
    width: 100%;
    border-radius: 50%;
    justify-content: center;
    user-select: none;
    margin: auto;
    cursor: pointer;

    &__img {
      grid-area: 1 / 1 / 2 / 2;
      border-radius: 50%;
      transition: opacity 400ms ease-out;
    }
    &__text {
      grid-area: 1 / 1 / 2 / 2;
      margin: auto;
      opacity: 0;
      transition: opacity 400ms ease-out;
    }

    &:hover {
      .showcase__logo__text {
        z-index: 1;
        opacity: 1;
      }
      .showcase__logo__img {
        opacity: 0.5;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin: 1em -1.5em -1.5em -1.5em;
    border-radius: 0 0 1.5em 1.5em;
    background-color: var(--highlightColor);
    .button--outline {
      flex: 1;
      text-align: center;
      &:first-child {
        border-radius: 0 0 0 1em;
      }
      &:last-child {
        border-radius: 0 0 1em 0;
      }
      &:only-child {
        border-radius: 0 0 1em 1em;
      }
    }
  }
}
