html {
  --highlightColor: #ffc107;
  --backgroundColor: #303030;
  --paperBackground: #424242;
  --primaryColor: #fff;
  --secondaryColor: rgba(255, 255, 255, 0.7);
  --disabled: rgba(255, 255, 255, 0.5);
  --hover: rgba(255, 255, 255, 0.08);
  --success: #4caf50;
  --error: #f44336;
}

html[data-theme="light"] {
  --backgroundColor: #fafafa;
  --paperBackground: #eeeeee;
  --primaryColor: rgba(0, 0, 0, 0.87);
  --highlightColor: #098203;
  --highlightColorComplement: #f67dfc;
  .social-links {
    img {
      filter: invert(1);
      &:hover {
        background-color: var(--highlightColorComplement);
      }
    }
  }
}

$maxWidth: 800px;

$regular: 400;
$medium: 500;
$bold: 700;
