@import "reset.scss";

html {
  --highlightColor: #ffc107;
  --backgroundColor: #131415;
  --paperBackground: #222;
  --primaryColor: #fff;
  --secondaryColor: rgba(255, 255, 255, 0.7);
  --disabled: rgba(255, 255, 255, 0.5);
  --hover: rgba(255, 255, 255, 0.08);
  --success: #4caf50;
  --error: #f44336;
  --max-width: 800px;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  scroll-behavior: smooth;
}

html[data-theme="light"] {
  --backgroundColor: #eee;
  --paperBackground: #fafafa;
  --primaryColor: rgba(0, 0, 0, 0.87);
  --highlightColor: #098203;
}

.no-style-link {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
